.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.ridepicker {
  margin-top: -60;
  left:0;
  width:100%;
}

.description-label{
    margin-bottom: 15;
}

.icon{
    font-family: 'icomoon';
    vertical-align: center;
    margin: 6;
}

.text-header {
    margin: 8, 8, 8, 8;
    color: #05386B;
}

#input {
      padding: 16 8 16 8;
      background-color: transparent;
}

      .input-border {
        border-width: 1;
        border-color:#05386B;
        border-radius: 2;
        padding: 8;
      }
  
      .input-rounded {
        border-width: 1;
        border-color: #05386B;
        border-radius: 28;
        padding: 16;
      }
  
   .label {
       margin: 10 0 0 5;
   }

  
    .input-field {
      margin: 8;
    }

      /* .label {
        font-size: 12;
        color: grey;
      } */
  
      .input {
        padding: 0;
        margin: 0 0 8 0;
      }
  
      /* .hr-light,
      .hr-dark {
        &.active {
          background-color: $accent;
        }
      }
  
      &.input-sides {
  
        .label {
          font-size: 18;
          margin: 0 0 8 0;
        }
      }
    }
  } */